* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --PrimaryColorBackground: #19b3c7;
    --PrimaryColorLogo: #990c99;


}

ul {
    list-style-type: none;

}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--PrimaryColorBackground);
    padding: 2px;


}
.header .container{
   display: flex; 
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;
}

.container {
    width: 70%;
    margin: auto;
    /* max-width: 1400px;
    margin: 0 auto; */
}

.header .logo a {
    color: var(--PrimaryColorLogo);
}

.header ul {
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 30px;
    font-size: x-large;
    margin-top: 5px;
}

/* .logo img{
    width: 10%;
    height: 80%;
    text-align: center;
} */
.search-from  {
    
    /* margin-top: 6px; */
    /* margin-left: 10px; */
    
}
.search-from input{
    border: 0px;
    padding: 7px 15px;
    
}
.search-from form{
    border: 2px solid #000;
    display: flex;
    align-items: stretch;
    
    
}


.serves {
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    



}

.serveses {
    border: 3px solid #000;
    width: calc(( 100% - 30px ) / 4 );

}



.serves .serveses img {
    width: 100%;
}


.serveses h2 {
    text-align: center;
}