* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --PrimaryColorBackground: #19b3c7;
    --PrimaryColorLogo: #130068;


}

ul {
    list-style-type: none;

}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--PrimaryColorBackground);
    padding:10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    /* margin-top: -10px; */


}
.Login{
    background-color: yellow;
    position: fixed;
    padding: 5px;
    left: 10px;
    bottom: 50%;
}
.header .container{
   display: flex; 
   justify-content: space-between;
   flex-wrap: nowrap;
   align-items: center;

}

.container {
    width: 70%;
    margin: auto;
    /* max-width: 1400px;
    margin: 0 auto; */

}

.header .container .logo h1 {
    color: var(--PrimaryColorLogo);
    /* background-color: rgb(107, 11, 11); */
    width: 100%;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: x-large;
    margin-top: 5px;
    /* background-color: rgb(226, 7, 255); */
}
.Login p{
    display: none;

}

.Login:hover p{
    display: block;
}
.header  .list a:hover{
    /* color: yellow; */
    color: yellow;
    font-size: 29px;
}
.header  .list a{
    transition: 1s;
}

/* .logo img{
    width: 10%;
    height: 80%;
    text-align: center;
} */
.search-from  {
    
    /* margin-top: 6px; */
    /* margin-left: 10px; */
    
}
.search-from input{
    border: 0px;
    padding: 7px 15px;
    
}
.search-from form{
    border: 2px solid #000;
    display: flex;
    align-items: stretch;
    
    
}


.serves {
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
    



}

.serveses {
    border: 3px solid #000;
    width: calc(( 100% - 30px ) / 4 );

}
.serves .serveses img:hover{
    padding: 10px;
    border: 1px solid red;
    background-color: yellow;
    /* filter: grayscale(0.9); */
    /* filter: blur(5px); */
    /* filter: brightness(40%); */
}



.serves .serveses img {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    transition-property:display: flex;
    transition-duration: 1s; 
    
    /* transition: background-color 1s , font-size 1s; */
}


.serveses h2 {
    text-align: center;
}